<div class="home home-container container">
  <div class="home-content">
    <app-basic-input />
    <div class="home-content-main">
      <div *ngFor="let movie of movies$ | async; trackBy: trackByFn">
        <app-movie-card [movie]="movie" />
      </div>
    </div>
    <div class="mt-8" *ngIf="isLoading$ | async">
      <app-loader />
    </div>
    <div
      *ngIf="(movies$ | async)?.length === 0 && !(isLoading$ | async)"
      class="text-center"
    >
      No Movies available
    </div>

    <div class="h-20 w-full bg-transparent" #scrollDiv></div>
  </div>
</div>
